@(thread:models.Thread, post: models.Post, postForm:Form[models.Post], searchForm:Form[controllers.SearchController.Search]) 
@import helper._ 
@implicitFieldConstructor = @{FieldConstructor(twitterBootstrapInput.render)} 

@main("Page Commenter", searchForm){
<script src="//cdn.ckeditor.com/4.4.4/standard/ckeditor.js"></script>
<script src="@routes.Assets.at("js/ckeditor/adapters/jquery.js")"></script>
<script  type="text/javascript">

$(document).ready(function(){
  $('.editor').ckeditor();

});


</script>

@breadcrumbThreadComment(thread.application.appName, thread.application, thread.threadName,thread)
@form(routes.ThreadController.postComment(thread)) {
<div class='row'>
	<div class="col-md-1"></div>

	<div class="col-md-10 panel">
		<input type="hidden" value="@post.idPost" name="idPost"/>
		<div class='row'>
			<!-- <span class="label label-default">Sauvegarde à 09:47</span> -->
			<textarea class="editor form-control" name="postContent">@post.postContent</textarea>
			
		</div>
		<div class='row'>
			<input type="submit" value="Poster" class="btn btn-primary">
			<a href="@routes.ThreadController.threadHome(thread, 0)" class="btn btn-danger">Annuler</a> 
		</div>
	</div>
	<div class="col-md-1">

	</div>
</div>
} }



