@(thread:models.Thread)
	<div class="col-md-5">
			<select  id="selectNote" class="form-control" style="width:20%">
				<option value="0">0</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
			<button id="note" class="btn btn-warning btn-lg" >Noter</button>
			<button class="btn btn-danger btn-lg paneauBlock" >Sujet Bloqué</button>
	</div>
<div class="col-md-9"></div>