@(searchForm:Form[controllers.SearchController.Search])(content:Html)


@main("Page Administrateur", searchForm){


@breadcrumbAdmin("Page Administrateur")
<div class="container panel">
		<!-- Header -->
		<div class='row headpanel' align="center">
			<div class="col-md-12">
				<button class="btn btn-danger"><h3>Administrateur</h3></button>
			</div>
		</div>

		<div class='row imageouterpanel'>
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class='row imagepanel'>
					<div class="col-md-12">
						<ul class="nav nav-tabs">
							<li>
								<a href="@routes.AdminController.listUsers(0)">Gestion des membres</a>
							</li>
							<li>
								<a href="@routes.AdminController.listDemands(0)">Validation d'inscription</a>
							</li>
							<li>
								<a href="@routes.AdminController.listServices(0)">Service</a>
							</li>
								<li>
								<a href="@routes.AdminController.listApps(0)">Application</a>
							</li>
							<li>
								<a href="@routes.AdminController.listBonusRules(0)">Récompenses</a>
							</li>
							<li>
								<a href="@routes.AdminController.listTags()">Etiquette</a>
							</li>
							<li>
								<a href="@routes.AdminController.listReports()">Reportings</a>
							</li>
							<li>
								<a href="@routes.AdminController.listCommunications(0)">Communication</a>
							</li>
							<li>
								<a href="@routes.AdminController.listTitles">Titre</a>
							</li>
							<li>
								<a href="@routes.AdminController.listDemandsPremium(0)">Demande Premium</a>
							</li>
						</ul>
						<!-- Tab panes -->
						<div class="tab-content">
							
							@content
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
		<!-- Content -->

	</div>

	<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>
            
                <div class="modal-body">
                    <p>You are about to delete one track, this procedure is irreversible.</p>
                    <p>Do you want to proceed?</p>
                    <p class="debug-url"></p>
                </div>
                
                <div class="modal-footer">
                	<button class="btn btn-danger btn-ok" href="#">Supprimer</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
$(document).ready(function(){
		
});
</script>
}