@(tagForm: Form[models.Tag], searchForm:Form[controllers.SearchController.Search])

@import helper._
@import helper.twitterBootstrap._


@main("Ajouter une étiquette", searchForm) {
    @if(tagForm("idTag").value() == null){
        <h1>Ajouter nouvelle étiquette</h1>
}else{
        <h1>Modifier étiquette</h1>
}
    
    
    @helper.form(routes.AdminController.saveTag(), 'class -> "form-group") {
       
        <fieldset>
        	<input type="hidden" value="@tagForm("idTag").valueOr("0")" name="idTag"/>
            @helper.inputText(tagForm("tagTitle"), '_label -> "Nom de l'étiquette", 
            	'class -> "form-control", 'placeholder -> "Nom de l'étiquette", 'style ->"width:50%", 'required -> "" )
           <div class="form-group">
                            <label class="col-md-12">* Category</label>
                            <div class="col-md-12">
                                <select class="selectpicker" name="category" required>
                                    <option value="0">Pays</option>
                                    <option value="1">Module</option>
                                </select>
                            </div>
                        </div>
        </fieldset>
        <div class="actions">
            @if(tagForm("idTag").value() == null){
            <input type="submit" value="Créer nouvelle étiquette" class="btn btn-primary">
        }else{
            <input type="submit" value="Modifier étiquette" class="btn btn-primary">
        }
             

            <a href="@routes.AdminController.listTags()" class="btn btn-danger">Annuler</a> 
        </div>
    }
 }