@(communicationForm: Form[models.Communication], searchForm:Form[controllers.SearchController.Search])

@import helper._
@import helper.twitterBootstrap._


@main("Ajouter une nouvelle", searchForm) {
    @if(communicationForm("idCommunication").value() == null){
        <h1>Ajouter nouvelle communication</h1>
    }else{
        <h1>Modifier communication</h1>
    }
    
    @helper.form(routes.AdminController.saveCommunication(), 'class -> "form-group") {
       
        <fieldset>
        	<input type="hidden" value="@communicationForm("idCommunication").valueOr("0")" name="idCommunication"/>
            @helper.inputText(communicationForm("nameCommunication"), '_label -> "Information Communication", 
            	'class -> "form-control", 'placeholder -> "Information Communication", 'style ->"width:50%", 'required -> "")
            @helper.textarea(communicationForm("content"), '_label -> "Contenu de la pub",
                'class -> "form-control", 'placeholder -> "Contenu de la pub", 'rows -> 5, 'style ->"width:50%", 'required -> "" )
        </fieldset>
        <div class="actions">
            @if(communicationForm("idCommunication").value() == null){
                <input type="submit" value="Créer nouvelle communication" class="btn btn-primary">
            }else{
                <input type="submit" value="Modifier communication" class="btn btn-primary">
            }
             
            <a href="@routes.AdminController.listCommunications(0)" class="btn btn-danger">Annuler</a> 
        </div>
    }
 }