@(currentPage: com.avaje.ebean.Page[Communication], searchForm:Form[controllers.SearchController.Search])@adminMain(searchForm){
<script>
	function del(urlToDelete) {
		$.ajax({
			url: urlToDelete,
			type: 'DELETE',
			success: function(results) { 
				// Refresh the page
				location.reload();
				
			}
		});
	}
</script>
<div class='row' style="margin-top:20px;padding-top:10px; border-top: 1px dashed rgba(86, 61, 124, 0.2);">
	<div class="col-md-12">
		<div class='row'>
			<div class="col-md-6">
			<input id="select_all_coms" type='checkbox' />
					<b>Tous Choisir</b>
			</div>
			<div class="col-md-6" align="right">
				<a class="btn btn-success" href="@routes.AdminController.newCommunication()">Ajouter une nouvelle</a>
				<button id="deleteListComs" class="btn btn-danger">Supprimer</button>
			</div>
		</div>
	</div>
</div>
@if(currentPage.getList().size() != 0){
	

<div class='row'>
	<div class="col-md-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th></th>
					<th>Communication en cours</th>
					<th>Contenu</th>
					<th>Date</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@for(com
				<- currentPage.getList()){ <tr>
					<td>
						<input id="@com.idCommunication" class="com_check_box" type='checkbox' />
					</td>
					<td>@com.nameCommunication</td>
					<td>@com.content</td>
					<td>@("%1$tH:%1$tM:%1$tS %1$td/%1$tm/%1$tY".format(com.createDate))</td>
					<td>
						<a href="@routes.AdminController.modifyCommunication(com)" class="btn btn-info">Modifier</a>
						
					</td>
					</tr>
					}
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-6"></div>
		<div class="col-md-6" align="right">
			<div class="btn-group">
				@if(currentPage.hasPrev){
				<a class="btn btn-primary" href="@routes.AdminController.listCommunications(currentPage.getPageIndex - 1)">
					<span class='glyphicon glyphicon-chevron-left'>
					</span>Page precedente</a>
				}else{
				<a class="btn btn-primary" disabled="disabled"><span class='glyphicon glyphicon-chevron-left'>
				</span>Page precedente</a>
			}<a class="btn btn-primary" href="">@currentPage.getDisplayXtoYofZ(" - ", " / ")</a> @if(currentPage.hasNext){
			<a class="btn btn-primary" href="@routes.AdminController.listCommunications(currentPage.getPageIndex + 1)">Page suivante<span class='glyphicon glyphicon-chevron-right'></span></a>
		}else{
		<a class="btn btn-primary" disabled="disabled">Page suivante<span class='glyphicon glyphicon-chevron-right'></span></a>
	}
			</div>
	</div>
</div>
}else{
	Aucune information à afficher
}


<script type="text/javascript">
	$(document).ready(function(){
		


		$("#select_all_coms").click(function(){
			$('.com_check_box').prop('checked',false);
			if(this.checked){
				$('.com_check_box').prop('checked',true);

			}
		});

		$(".com_check_box").click(function(){
			$("#select_all_coms").prop('checked', false);
			if($(".com_check_box").length == $(".com_check_box:checked").length){
				$("#select_all_coms").prop('checked', true);
			}
		});

		$("#deleteListComs").click(function(){
				var data = findCheckedComs();
				if(data === undefined || data.length == 0){
					alert("Sélectionnez au moin un objet");
				}else{
					ConfirmDialog('Voulez vous vraiment supprimer ces objets ?', data);
				}
			});
		


	});

	function ConfirmDialog(message, data){

	    $('<div></div>').appendTo('body')
	                    .html('<div><h6>'+message+'?</h6></div>')
	                    .dialog({
	                        modal: true, title: 'Confirmation supression', zIndex: 10000, autoOpen: true,
	                        width: 'auto', resizable: false,
	                        buttons: {
	                            Yes: function () {
									$(".com_check_box").prop("checked",false);
									
									appRoutes.controllers.AdminController.deleteListComs().ajax({
											data:JSON.stringify(data),
											contentType:'application/json',
											type:'POST',
											success:function(resultats){
												alert(resultats);
												location.reload();
											},
											error:function(resultats){
												alert("Supprimer liste échec");
											}
									});

	                                $(this).dialog("close");
	                            },
	                            No: function () {
	                                $(this).dialog("close");
	                            }
	                        },
	                        close: function (event, ui) {
	                            $(this).remove();
	                        }
	                    });
	};

	function findCheckedComs(){
		var com_list = [];
		$('.com_check_box').each(function(){
			if(this.checked){
				com_list.push(this.id);
			}
		});
		return com_list;
	}


</script>

}