@(app:models.Application, threadForm:Form[models.Thread], searchForm:Form[controllers.SearchController.Search]) 
@import helper._ 
@implicitFieldConstructor = @{FieldConstructor(twitterBootstrapInput.render)} 

@main("Page Editeur", searchForm){
<script src="//cdn.ckeditor.com/4.4.4/standard/ckeditor.js"></script>
<script src="@routes.Assets.at("js/ckeditor/adapters/jquery.js")"></script>
<script  type="text/javascript">

$(function(){
	$('.editor').ckeditor();

	var count  = 0;
	
	$("#addBibli").click(function(){
		count++;
		addBibliFunc(count);
	});
	
});
function addBibliFunc (count) {
	
	
	var zoneBibli = "";
		zoneBibli += "<div class='row'>";
		zoneBibli += "<div class='col-md-12' id='bibli" + count + "'>";
		zoneBibli += "<h4>Bibliographie " + count + "</h4>";
		zoneBibli += "<div class='col-md-4'>";
		zoneBibli += "<label >Auteur</label>";
		zoneBibli += "<input class='form-control' type='text' name='biblios[" + count + "].author'>";
		zoneBibli += "</div>";
		zoneBibli += "<div class='col-md-4'>";
		zoneBibli += "<label >Titre</label>";
		zoneBibli += "<input class='form-control' type='text' name='biblios[" + count + "].content'>";
		zoneBibli += "</div>";
		zoneBibli += "<div class='col-md-4'>";
		zoneBibli += "<label >Lien</label>";
		zoneBibli += "<input class='form-control' type='text' name='biblios[" + count + "].lien'>";
		zoneBibli += "</div>";
		zoneBibli += "</div>";
		zoneBibli += "</div>";
	$(".zoneBibli").append(zoneBibli);


}
</script>
<style type="text/css">
.dropdown-menu{
	z-index: 99999;
}

.panel{

	border: 1px solid rgba(86, 61, 124, 0.2);
}
.bgblue{
	background-color:   #f8fb9e;
}
.msgitem{
	height: 70px;
	padding-top: 5px;
	border-bottom: 1px dashed rgba(86, 61, 124, 0.2);
}
.greentext{
	font-weight:bold;
	color: #191970;
}
</style>
@form(routes.EditorController.postThread(app)) {
<div class='row'>
	<input type="hidden" value="@threadForm("idThread").valueOr("0")" name="idThread"/>
	<div class="col-md-1"></div>
	<div class="col-md-10 panel">
		<div class='row'>
			<div class="row col-md-12">
				<div class="col-md-6">
					@select(threadForm("tags[0].idTag"), options(models.Tag.countryOptions), '_label -> "Ajouter une étiquette pays", '_default -> "-- Choisir un pays --", '_showConstraints -> false, 'class -> "form-control" ) 
				</div>
				<div class="col-md-6">
					@select(threadForm("tags[1].idTag"), options(models.Tag.moduleOptions), '_label -> "Ajouter une étiquette module", '_default -> "-- Choisir un module --", '_showConstraints -> false, 'class -> "form-control" ) 
				</div>
			</div>
			@helper.inputText(threadForm("threadName"), 'class -> "form-control", 'placeholder -> "Saisir le titre",'_label -> "Saisir un titre")
		</div>
		<h3>Contenu</h3>
		<div class='row'>
			@textarea(threadForm("content"), '_label -> "", 'placeholder -> "Any notes you want to add", 'rows -> 20, 'cols -> 60, 'class ->"editor" )
		</div>
		
		<div class="zoneBibli">
			<h3>Bibliographie</h3>
			
			<!-- <div class="row">
				<div class="col-md-12" id="bibli1">
					<h4>Bibliographie 1</h4>
					<div class="col-md-4">
						<label >Auteur</label>
						<input class="form-control" type="text" name="biblios[1].author">
					</div>
					<div class="col-md-4">
						<label >Titre</label>
						<input class="form-control" type="text" name="biblios[1].content">
					</div>
					<div class="col-md-4">
						<label >Lien</label>
						<input class="form-control" type="text" name="biblios[1].lien">
					</div>
				</div>
			</div> -->
		</div>
		<br>
		<div class='row'>
			<input type="submit" value="Poster" class="btn btn-primary">
			<a href="@routes.ForumController.forumHome(app,0, "publicDate", "desc")" class="btn btn-danger">Annuler</a> 
			<div class="btn btn-success" id="addBibli">Ajouter une bibliographie</div>
		</div>
	</div>
	<div class="col-md-1">
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){

	

});





</script>

} }



