@(bonusRuleForm: Form[models.BonusRule], searchForm:Form[controllers.SearchController.Search])

@import helper._
@import helper.twitterBootstrap._


@main("Modifier règlement", searchForm) {
    
    <h1>Ajouter/Modifier nouveau règlement</h1>
    
    @helper.form(routes.AdminController.saveBonusRule(), 'class -> "form-group") {
       
        <fieldset>
        	<input type="hidden" value="@bonusRuleForm("idBonus").valueOr("0")" name="idBonus"/>
            @helper.inputText(bonusRuleForm("name"), '_label -> "Nom du règlement", 
            	'class -> "form-control", 'placeholder -> "Nom du règlement", 'style ->"width:50%" )
            @helper.inputText(bonusRuleForm("xp"), '_label -> "Points expériences", 
            	'class -> "form-control", 'placeholder -> "Points expériences", 'style ->"width:50%")
            @helper.inputText(bonusRuleForm("bonus"), '_label -> "Bonus", 
            	'class -> "form-control", 'placeholder -> "Bonus", 'style ->"width:50%")
		</fieldset>
        <div class="actions">
            <input type="submit" value="Modifier le règlement" class="btn btn-primary"> 
            <a href="@routes.AdminController.listBonusRules(0)" class="btn btn-danger">Annuler</a> 
        </div>
    }
 }