@(currentPage: com.avaje.ebean.Page[Communication], searchForm:Form[controllers.SearchController.Search])@adminMain(searchForm){
<script>
	function del(urlToDelete) {
		$.ajax({
			url: urlToDelete,
			type: 'DELETE',
			success: function(results) { 
				// Refresh the page
				location.reload();
				
			}
		});
	}
</script>
<div class='row' style="margin-top:20px;padding-top:10px; border-top: 1px dashed rgba(86, 61, 124, 0.2);">
	<div class="col-md-12">
		<div class='row'>
			<div class="col-md-6">
			<input id="select_all_coms" type='checkbox' />
					<b>Tous Choisir</b>
			</div>
			<div class="col-md-6" align="right">
				<a class="btn btn-success" href="@routes.AdminController.newCommunication()">Ajouter une nouvelle</a>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class="col-md-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th></th>
					<th>Communication en cours</th>
					<th>Contenu</th>
					<th>Date</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@for(com
				<- currentPage.getList()){ <tr>
					<td>
						<input class="com_check_box" type='checkbox' />
					</td>
					<td>@com.nameCommunication</td>
					<td>@com.content</td>
					<td>@("%1$tH:%1$tM:%1$tS %1$td/%1$tm/%1$tY".format(com.createDate))</td>
					<td>
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								Opération
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="@routes.AdminController.modifyCommunication(com)">Modifier</a>
								</li>
								<li>
									<a href="#" data-href="@routes.AdminController.deleteCommunication(com.idCommunication.toString)" data-toggle="modal" data-target="#confirm-delete">Supprimer</a>
								</li>
							</ul>
						</div>
					</td>
					</tr>
					}
			</tbody>
		</table>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){


		

		$("#select_all_coms").click(function(){
			$('.com_check_box').prop('checked',false);
			if(this.checked){
				$('.com_check_box').prop('checked',true);

			}
		});

		$(".com_check_box").click(function(){
			$("#select_all_coms").prop('checked', false);
			if($(".com_check_box").length == $(".com_check_box:checked").length){
				$("#select_all_coms").prop('checked', true);
			}
		});

		
	});
</script>

}