@(currentPage:com.avaje.ebean.Page[Service], searchForm:Form[controllers.SearchController.Search]) @adminMain(searchForm){

<!-- Button -->
<!-- <div class='row' align="right">
	<div class="col-md-12" style="padding-top:10px;">
		<form class="form-inline" role="form">
			<div class="form-group">
				<input type="text" class='form-control' placeholder="Taper un service">

			</div>
			<button class='btn btn-info'>Rechercher</button>
		</form>
	</div>
</div> -->
<!-- Members -->
<div class='row' style="margin-top:20px;padding-top:10px; border-top: 1px dashed rgba(86, 61, 124, 0.2);">
	<div class="col-md-12">
		<div class='row'>
			<div class="col-md-6">
				<input id="select_all_services" type='checkbox' />
				<b>Tous Choisir</b>
				<a href="@routes.AdminController.newService()" class="btn btn-success">Nouveau Service</a>
			</div>
			<div class="col-md-6" align="right">
				<a id="deleteListServices" class="btn btn-danger">Supprimer</a>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class="col-md-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@for(service <- currentPage.getList()){
				<tr>
					<td>
						<input id="@service.idService" class="service_check_box" type='checkbox' /
					</td>
					<td>@service.serviceName</td>
					<td>
						<a class="btn btn-info" href="@routes.AdminController.modifyService(service)">Modifier</a>
						<!-- <div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								Opération
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="@routes.AdminController.modifyService(service)">Modifier</a>
								</li>
								<li>
									<a href="#" data-href="@routes.AdminController.deleteService(service.idService.toString)" data-toggle="modal" data-target="#confirm-delete">Supprimer</a>
								</li>
							</ul>
						</div> -->
					</td>
				</tr>
				}
				
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-6"></div>
		<div class="col-md-6" align="right">
			<div class="btn-group">
				@if(currentPage.hasPrev){
				<a class="btn btn-primary" href="@routes.AdminController.listServices(currentPage.getPageIndex - 1)">
					<span class='glyphicon glyphicon-chevron-left'>
					</span>Page precedente</a>
				}else{
				<a class="btn btn-primary" disabled="disabled"><span class='glyphicon glyphicon-chevron-left'>
				</span>Page precedente</a>
			}<a class="btn btn-primary" href="">@currentPage.getDisplayXtoYofZ(" - ", " / ")</a> @if(currentPage.hasNext){
			<a class="btn btn-primary" href="@routes.AdminController.listServices(currentPage.getPageIndex + 1)">Page suivante<span class='glyphicon glyphicon-chevron-right'></span></a>
		}else{
		<a class="btn btn-primary" disabled="disabled">Page suivante<span class='glyphicon glyphicon-chevron-right'></span></a>
	}
			</div>
	</div>
</div>

<script type="text/javascript">
		$(document).ready(function(){


		$("#select_all_services").click(function(){
			$('.service_check_box').prop('checked',false);
			if(this.checked){
				$('.service_check_box').prop('checked',true);

			}
		});

		$(".service_check_box").click(function(){
			$("#select_all_services").prop('checked', false);
			if($(".service_check_box").length == $(".service_check_box:checked").length){
				$("#select_all_services").prop('checked', true);
			}
		});

		$("#deleteListServices").click(function(){
				var data = findCheckedServices();
				if(data === undefined || data.length == 0){
					alert("Sélectionnez au moin un objet");
				}else{
					ConfirmDialog('Voulez vous vraiment supprimer ces objets ?', data);
				}
			});

	});
	
	function ConfirmDialog(message, data){

	    $('<div></div>').appendTo('body')
	                    .html('<div><h6>'+message+'?</h6></div>')
	                    .dialog({
	                        modal: true, title: 'Confirmation supression', zIndex: 10000, autoOpen: true,
	                        width: 'auto', resizable: false,
	                        buttons: {
	                            Yes: function () {
									$(".service_check_box").prop("checked",false);
									
									appRoutes.controllers.AdminController.deleteListServices().ajax({
											data:JSON.stringify(data),
											contentType:'application/json',
											type:'POST',
											success:function(resultats){
												location.reload();
											},
											error:function(resultats){
												alert("Supprimer liste échec");
											}
									});

	                                $(this).dialog("close");
	                            },
	                            No: function () {
	                                $(this).dialog("close");
	                            }
	                        },
	                        close: function (event, ui) {
	                            $(this).remove();
	                        }
	                    });
	    };

	function findCheckedServices(){
		var service_list = [];
		$('.service_check_box').each(function(){
			if(this.checked){
				service_list.push(this.id);
			}
		});
		return service_list;
	}
</script>
}