@(searchForm:Form[controllers.SearchController.Search])
@adminMain(searchForm){


<!-- Button -->
<div class='row' align="right">

</div>
<!-- Members -->
<div class='row' style="margin-top:20px;padding-top:10px; border-top: 1px dashed rgba(86, 61, 124, 0.2);">

	<div class="col-md-12">
		<div class='row'>

			<div class="col-md-6">
				<input id="select_all_titles" type='checkbox' />
				<b>Tous Choisir</b>
				<a href="@routes.AdminController.newTitle()" class="btn btn-primary">Nouveau Titre</a>
			</div>
			<div class="col-md-6" align="right">
				<a id="deleteListTitles" class="btn btn-danger">Supprimer</a>
				<!-- <div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						Opération
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
							
						
						<li>
						</li>
					</ul>
				</div> -->

			</div>
		</div>
	</div>

</div>
<div class='row'>
	<div class="col-md-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th></th>
					<th>Titre</th>
					<th>Points</th>
				</tr>
			</thead>
			<tbody>
				@for(title <- Title.findListTitles){
				<tr>
					<td>
						<input id="@title.idTitle" class="title_check_box" type='checkbox' />
					</td>
					<th>@title.titleName</th>
					<th>@title.exp</th>
					
					<td>
						<a class="btn btn-info" href="@routes.AdminController.modifyTitle(title)">Modifier</a>

						<!-- <div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								Opération
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li>
								</li>
								<li>
									<a href="#" data-href="@routes.AdminController.deleteTitle(title.idTitle.toString)" data-toggle="modal" data-target="#confirm-delete">Supprimer</a>
								</li>
							</ul>
						</div> -->
					</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function(){

		

		$("#select_all_titles").click(function(){
			$('.title_check_box').prop('checked',false);
			if(this.checked){
				$('.title_check_box').prop('checked',true);

			}
		});

		$(".title_check_box").click(function(){
			$("#select_all_titles").prop('checked', false);
			if($(".title_check_box").length == $(".title_check_box:checked").length){
				$("#select_all_titles").prop('checked', true);
			}
		});

		$('#deleteListTitles').click(function(){
			var data = findCheckedTitles();
			if(data === undefined || data.length == 0){
				alert("Sélectionnez au moin un objet");
			}else{
				ConfirmDialog('Voulez vous vraiment supprimer ces objets ?', data);
			}
		})

	});

	function ConfirmDialog(message, data){

	    $('<div></div>').appendTo('body')
	                    .html('<div><h6>'+message+'?</h6></div>')
	                    .dialog({
	                        modal: true, title: 'Confirmation supression', zIndex: 10000, autoOpen: true,
	                        width: 'auto', resizable: false,
	                        buttons: {
	                            Yes: function () {
									$(".title_check_box").prop("checked",false);
									
									appRoutes.controllers.AdminController.deleteListTitles().ajax({
											data:JSON.stringify(data),
											contentType:'application/json',
											type:'POST',
											success:function(resultats){
												location.reload();
											},
											error:function(resultats){
												alert("Supprimer liste échec");
											}
									});

	                                $(this).dialog("close");
	                            },
	                            No: function () {
	                                $(this).dialog("close");
	                            }
	                        },
	                        close: function (event, ui) {
	                            $(this).remove();
	                        }
	                    });
	    };

	function findCheckedTitles(){
		var title_list = [];
		$('.title_check_box').each(function(){
			if(this.checked){
				title_list.push(this.id);
			}
		});
		return title_list;
	}

	function del(urlToDelete) {
		$.ajax({
			url: urlToDelete,
			type: 'DELETE',
			success: function(results) { 
				// Refresh the page
				location.reload();
				
			}
		});
	}
</script>

}