@(currentPage:com.avaje.ebean.Page[models.Application], searchForm:Form[controllers.SearchController.Search]) 

@adminMain(searchForm){

<!-- Button -->
<div class='row' align="right">
	<div class="col-md-12" style="padding-top:10px;">
		<form class="form-inline" role="form" method="get" action="@routes.AdminController.searchApp()">
			<div class="form-group">
				<input type="text" name="appName" class='form-control' placeholder="Taper une application">
			</div>
			<button class='btn btn-info'>Rechercher</button>
		</form>
	</div>
</div>
<!-- Members -->
<div class='row' style="margin-top:20px;padding-top:10px; border-top: 1px dashed rgba(86, 61, 124, 0.2);">
	<div class="col-md-12">
		<div class='row'>
			<div class="col-md-6">
				<input id="select_all_apps" type='checkbox' />
				<b>Tous Choisir</b>
				<a href="@routes.AdminController.newApp()" class="btn btn-success">Nouvelle Application</a>
			</div>
			<div class="col-md-6" align="right">
				<a href="" class="btn btn-danger">Supprimer</a>
			</div>
		</div>
	</div>
</div>
<div class='row'>
	<div class="col-md-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th></th>
					<th>Nom de l'application</th>
					<th>Description</th>
					<th>Service</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@for(app <- currentPage.getList()){
				<tr>
					<td><input class="app_check_box" type='checkbox'/></td>
					<td>
						@app.appName
					</td>
					<td>@app.appDescription</td>
					<td>@app.service.serviceName</td>
					<td>
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								Opération
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a href="#" onclick="javascript:del('@routes.AdminController.deleteApp(app.idApp.toString)')">Supprimer</a>
								</li>
								<li>
									<a href="@routes.AdminController.modifyApp(app)">Modifier</a>
								</li>
							</ul>
						</div>
					</td>
				</tr>
			}
			
		</tbody>
	</table>
</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$("#select_all_apps").click(function(){
		if(this.checked){
			$(".app_check_box").each(function(){
				this.checked = true;
			})
		}else{
			$(".app_check_box").each(function(){
				this.checked = false;
			})

		}
	});
});

function del(urlToDelete) {
	$.ajax({
		url: urlToDelete,
		type: 'DELETE',
		success: function(results) { 
				// Refresh the page
				location.reload();
				
			}
		});
}
</script>

}