@(userForm: Form[models.User], searchForm:Form[controllers.SearchController.Search]) 


@import helper._ 

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("Inscription", searchForm){
<!-- PANEL VOS INDENTIFIANTS -->
<div class="panel panel-default">
	<div class="col-md-12">
		<label>Si vous n'avez pas le code de Parrainage, click sur ce bouton</label>
		<a href="@routes.InscriptionController.newDemand()" class="btn btn-success">Demande Code Parrainage</a>
	</div>

	<div class="panel-heading">
		<h3 class="panel-title" align="center">VOTRE COMPTE</h3>

	</div>

	@form(routes.InscriptionController.saveUser(), 'name -> "demandForm"){
	<fieldset>

		<div class="panel-body">
			<div id="textbox">
				<p class="alignleft">
					<span style='font-size:large;'>VOS INDENTIFIANTS</span>
				</p>
				<p class="alignright" style="text-color:red;">* Tous les champs marqués d'un astérique sont obligatoires</p>
				<br/>
			</div>
			<hr/>
			<!-- Row 1 -->
			<div class="row">
				<div class="col-md-6">

					<div class="clearfix ">
						<label for="userName">* Pseudo</label>
						<div class="input">
							<input id="userName" class="form-control" type="text" placeholder="Pseudo" value="" name="userName" required ng-model="userName" ng-minlength="5">
							<span class="help-inline">Minimum length: 5</span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					@select(userForm("idServiceSubscribe"), options(models.Service.options), '_label -> "Service Inscrite", '_default -> "-- Choisir un service --",'required -> "" ) 
				</div>
			</div>
			<!-- Row 2 -->
			<div class="row">
				<div class="col-md-6">
					<div class="clearfix ">
						<label for="email">* Email</label>
						<div class="input">
							<input id="email" class="col-sm-6 form-control" type="email" placeholder="Email" value="" name="email" required ng-model="email">
							<span class="help-inline">Email, Required</span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="clearfix ">
						<label for="confirmEmail">* Confirmation Email</label>
						<div class="input">
							<input id="confirmEmail" class="col-sm-6 form-control" type="email" placeholder="Confirmation Email" required ng-model="confirmEmail" value="" name="confirmEmail" ng-match="email">
							<span class="help-inline">Email, Required</span>
							<span data-ng-show="myForm.confirmEmail.$error.match">Emails have to match!</span>
						</div>
					</div>
				</div>
			</div>
			<!-- Row 3 -->
			<div class="row">
				<div class="col-md-6">
					<div class="clearfix ">
						<label for="password">* Mot de passe</label>
						<div class="input">
							<input id="password" class="col-sm-6 form-control" type="password" placeholder="Mot de passe" required ng-model="password" ng-minlength="7" name="password">
							<span class="help-inline">Minimum length: 7, Required</span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="clearfix ">
						<label for="confirmPassword">* Confirmation Mot de passe</label>
						<div class="input">
							<input id="confirmPassword" class="col-sm-6 form-control" type="password" placeholder="Confirmation Mot de passe" name="confirmPassword" required ng-model="confirmPassword" ng-minlength="7">

							<span class="help-inline">Minimum length: 7, Required</span>
						</div>
					</div>
				</div>
			</div>

			<hr/>

			<p class="alignleft">
				<span style='font-size:large;'>VOS INFORMATIONS PERSONELLES</span>
			</p>
			<br/>
			<hr/>
			<!-- Row 1 -->
			<div class="row">
				<div class="col-md-6">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">* Civilité</label>
							<div class="col-sm-10">
								<select class="selectpicker" name="civilite">
									<option value="0">Madame</option>
									<option value="1">Monsieur</option>
								</select>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- Row 2 -->
			<div class="row">
				<div class="col-md-6">
					<div class="clearfix ">
						<label for="firstName">* Nom</label>
						<div class="input">
							<input id="firstName" class="form-control" type="text" placeholder="Nom" value="" name="firstName" required ng-model="firtName" ng-minlength="2">
							<span class="help-inline">Required</span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="clearfix ">
						<label for="lastName">* Prénom</label>
						<div class="input">
							<input id="lastName" class="form-control" type="text" placeholder="Prénom" value="" name="lastName" required ng-model="lastName" ng-minlength="2">
							<span class="help-inline">Required</span>
						</div>
					</div>
				</div>
			</div>
			<!-- Row 3 -->
			<div class="row">
				<div class="col-md-6">
					<div class="clearfix ">
						<label for="address">* Adresse</label>
						<div class="input">
							<input id="address" class="form-control" type="text" placeholder="Adresse" value="" name="address" required ng-model="address">
							<span class="help-inline">Required</span>
						</div>
					</div>
				</div>
				<div class="col-md-6">

				</div>
			</div>
			<!-- Row 4 -->
			<div class="row">
				<div class="col-md-6">
					<div class="clearfix ">
						<label for="postalCode">* Code Postal</label>
						<div class="input">
							<input id="postalCode" class="form-control" type="number" placeholder="Code Postal" value="" name="postalCode" required ng-model="postalCode" >
							<span class="help-inline">Required</span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="clearfix ">
						<label for="city">* Ville</label>
						<div class="input">
							<input id="city" class="form-control" type="text" placeholder="Ville" value="" name="city" required ng-model="city">
							<span class="help-inline">Required</span>
						</div>
					</div>
				</div>
			</div>
			<!-- End Row 4 -->
			<!-- Row 5 -->
			<div class="row">
				<div class="col-md-6">
					@select(userForm("country"), options(models.Tag.countryOptions), '_label -> "* Pays", '_default -> "-- Choisir un pays --", 'required -> "" ) 
				</div>
			</div>
			<!-- END Row 5 -->
			<!-- Row 6 -->
			<div class="row">
				<div class="col-md-12">
					<p>* Merci de nous indiquer au moins un de vos numéros de téléphone</p>

				</div>
			</div>
			<!-- END Row 6 -->
			<!-- Row 7 -->
			<div class="row">
				<div class="col-md-6">
					<div class="clearfix ">
						<label for="homePhone"> Téléphone fixe</label>
						<div class="input">
							<input id="homePhone" class="form-control" type="number" ng-model="homePhone" placeholder="Téléphone fixe" value="" name="homePhone">
							<span class="help-inline"></span>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="clearfix ">
						<label for="mobilePhone"> Téléphone portable</label>
						<div class="input">
							<input id="mobilePhone" class="form-control" type="number" ng-model="mobilePhone" placeholder="Téléphone portable" value="" name="mobilePhone">
							<span class="help-inline"></span>
						</div>
					</div>
				</div>
			</div>
			<!-- End Row 7 -->

			<hr/>

			<!-- Row 1 -->
			<div class="row">
				<div class="col-md-6">
					<div class="clearfix ">
						<label for="signinCode">* Code de parrainage</label>
						<div class="input">
							<input id="signinCode" class="form-control" type="text" placeholder="Code de Parrainage" value="" name="signinCode" required ng-model="signinCode">
							<span class="help-inline">Required</span>
						</div>
					</div>
				</div>
				<div class="col-md-6 action" align="right">
					<input type="submit" value="Valider" class="btn btn-primary" ng-disabled="demandForm.$invalid">
				</div>
			</div>
		</div>
	</div>
</fieldset>}



}