@(person:User)
<div class="tab-pane" id="bonus">

	<div class='row'>
		<div class='row' style="padding-top:20px;">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class='row rowpadding'>
					<div class="col-md-4">Points d'Experience:</div>
					<div class="col-md-4">
						<b>@person.exp</b>
					</div>
					<div class="col-md-4"></div>
				</div>
				<div class='row rowpadding'>
					<div class="col-md-4">Titre:</div>
					<div class="col-md-4">
						<b>@person.title</b>
					</div>
					<div class="col-md-4 greentext"></div>
				</div>
				<div class='row rowpadding'>
					<div class="col-md-4">Bonus:</div>
					<div class="col-md-4">
						<b>@person.bonus</b>
					</div>
					<div class="col-md-4 greentext">

					</div>
				</div>


				<br><br>
				<!--Consulter Regle modal-->
				<div class="row rowpadding">
					<!-- Button trigger modal -->
					<div class="col-md-4">
						<button class="btn btn-primary" data-toggle="modal" data-target="#modalRegle">
							Consulter le règle
						</button>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="modalRegle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">
										<span aria-hidden="true">&times;</span>
										<span class="sr-only">Close</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">Règle</h4>
								</div>
								<div class="modal-body">
									<table class="table">
										<thead>
											<tr>
											<th>Nom</th>
											<th>Points</th>
										</tr>
										</thead>
										
									<tbody>


									@for(title <- Title.findListTitles){
										<tr>
											<td>@title.titleName</td>
											<td>@title.exp</td>
										</tr>
								}
									</tbody>
								</table>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									
								</div>
							</div>
						</div>
					</div>
					<!--Close Consulter Regle modal-->
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>