@(person:User)
<div class="tab-pane" id="motdepasse">

	<div class='row' style="padding-top:20px;">
		<div class="col-md-1"></div>
		<div class="col-md-10">

			<form method="POST" action="@routes.PersonController.changePassword(person)">
				<div class='row rowpadding'>
				<div class="col-md-4">Mot de Passe actuel</div>
				<div class="col-md-8">
					<input type="password" class="form-control" name="actualPass">
				</div>
			</div>

			<div class='row rowpadding'>
				<div class="col-md-4">Nouveau Mot de passe</div>
				<div class="col-md-8">
					<input type="password" class="form-control" name="newPass">
				</div>
			</div>

			<div class='row rowpadding'>
				<div class="col-md-4">Confirmer le nouveau mot de passe</div>
				<div class="col-md-8">
					<input type="password" class="form-control" name="confirmPass">
				</div>
			</div>


			
				
				<div class='row rowpadding' align="right">
					<div class="col-md-12">
						<input type="submit" class='btn btn-primary' value="Valider"/>
					</div>
				</div>
			</form>
			


			</div>
			<div class="col-md-1"></div>
		</div>
	</div>