@(person:User)
<div class="tab-pane active" id="moncompte">
	<div class='row' style="padding-top:20px;">
		<div class="col-md-3"></div>
	
		<div class="col-md-6">
			
			<div class='row rowpadding'>
				<div class="col-md-6">Pseudo</div>
				<div class="col-md-6">@person.userName</div>
			</div>
			
			<div class='row rowpadding'>
				<div class="col-md-6">Compte</div>
				<div class="col-md-6">@person.permission.permissionDescription</div>
			</div>

			<div class='row rowpadding'>
				<div class="col-md-6">Date Inscription</div>
				<div class="col-md-6">@("%1$td/%1$tm/%1$tY".format(person.dateInscription))</div>
			</div>

			<div class='row rowpadding'>
				<div class="col-md-6">Civilité</div>
				<div class="col-md-6">@if(person.civilite == true){Madame} else {Monsieur}
				</div>
			</div>
			<div class='row rowpadding'>
				<div class="col-md-6">Nom</div>
				<div class="col-md-6">@person.firstName</div>
			</div>
			<div class='row rowpadding'>
				<div class="col-md-6">Prénom</div>
				<div class="col-md-6">@person.lastName</div>
			</div>
			<div class='row rowpadding'>
				<div class="col-md-6">Adresse</div>
				<div class="col-md-6">@person.address
					<br/>@person.postalCode, @person.city, France
				</div>
			</div>
			<div class='row rowrowpadding'>
				<div class="col-md-6">Téléphone fixe</div>
				<div class="col-md-6">@person.homePhone</div>
			</div>
			<div class='row rowpadding'>
				<div class="col-md-6">Téléphone mobile</div>
				<div class="col-md-6">@person.mobilePhone</div>
			</div>
			<div class='row rowpadding'>
				<div class="col-md-6">Service Inscrit</div>
				<div class="col-md-6">@if(Service.findById(person.idServiceSubscribe.toString) != null){@Service.findById(person.idServiceSubscribe.toString).serviceName}</div>
			</div>

			<div class='row rowpadding'>
				<div class="col-md-6">Email</div>
				<div class="col-md-6">@person.email</div>
			</div>

			<div class='row rowpadding'>
				<div class="col-md-6">Nombre Articles</div>
				<div class="col-md-6">@person.threadCount</div>
			</div>

			<div class='row rowpadding'>
				<div class="col-md-6">Nombre Posts</div>
				<div class="col-md-6">@person.postCount</div>
			</div>
			
			<div class='row rowpadding'>
				<div class="col-md-6">Presentation</div>
				<div class="col-md-6">@person.presentation</div>
			</div>
			
			<div class='row rowpadding'>
				<div class="col-md-6">Centre d'intérêt</div>
				<div class="col-md-6">@person.hoppy</div>
			</div>

			<div class='row rowpadding'>
				<div class="col-md-6">Code parainnage</div>
				<div class="col-md-6">@for(account
					<- AccountValidation.findAccountByUser(person.userName)){ @account.codeGenerated }</div>
				</div>


				<div class='row rowpadding'>
					<div class="col-md-6"></div>
					<div class="col-md-6">
						<a href="@routes.PersonController.modifyPerson(person)" class='btn btn-primary'>Modifier</a>
					</div>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
		<a href="" class="btn btn-info" id="postCode">Générer Code Parrainage</a>
		
		@if(person.permission.idPermission==1){
		
		<a href="@routes.AdminController.adminHome()" class="btn btn-success" id="goAdminPage">Admin Page</a>
		}
		@if(person.permission.idPermission!=3){

		<a href="#" onclick="javascript:toggleAdminMode('@routes.AdminController.toggleAdminMode()')" class="btn btn-danger" id="adminMode">Mode Modification</a>
		
}

	</div>
	