@(currentPage:com.avaje.ebean.Page[models.Message])
<div class="tab-pane active" id="receivedMessages">
	<div class="col-md-10">
		<div class="col-md-12"  >
			<div class='col-md-7' align="left">
				<input id="select_all_mess" type='checkbox' />
				<b>Tous Choisir</b>
				<a class="btn btn-success" href="@routes.MessageController.writeMessage()">Ecrire un message</a>
			</div>
			<div class='col-md-5' align="right">
				<button id="deleteListMess" class="btn btn-danger">Supprimer</button>
			</div>
		</div>
		<table class="table-condensed">
			@for(messages <- currentPage.getList()){

			<tr>
				<td class="col-md-1 col-sm-1"><a href="@routes.UserController.userHome(messages.userNameFrom)">@messages.userNameFrom.firstName @messages.userNameFrom.lastName</a>
				</td>
				<td class="col-md-2 hidden-sm hidden-xs">
					
					<img src="@routes.Assets.at("imgs/" + "users/" + messages.userNameFrom.userName + "/avatar/" + messages.userNameFrom.avatar)" alt="..." width="70" height="70">
				</td>
				
				<td class="col-md-4 col-sm-7">
					<input id="@messages.idMessage" type='checkbox' class="mess_check_box"/>
					<b>@messages.title</b>
					
						@if(!messages.viewed){
						<p ><b><a href="#" data-toggle="modal" data-target="#mess@messages.idMessage" onclick="javascript:viewMess('@routes.MessageController.viewMess(messages.idMessage)')">@messages.content</a></b></p>
					}else{
					
						<p>@messages.content</p>
				}
						
					
				</td>
				<td class="col-md-1 col-sm-2">@{if(messages.sendDate == null)"" else("%1$tH:%1$tM:%1$tS %1$td/%1$tm/%1$tY".format(messages.sendDate))}
				</td>
				<td>@if(messages.viewed){
					Lu
				}else{Non Lu}

				</td>
				<td class="col-md-1 col-sm-2">

					<a href="@routes.MessageController.writeMessageWithUser(messages.userNameFrom)" class='btn btn-success'>Répondre</a>
				</td>
				<td class="col-md-2">

				</td>
			</tr>

	<div class="modal fade" id="mess@messages.idMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only" >Close</span></button>
					<h4 class="modal-title" id="myModalLabel"><b>@messages.title</b> </h4>
				</div>
				<div class="modal-body">
					@messages.content

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
					
				</div>
			</div>
		</div>
	</div>
			}
			
		</table>	
	</div>
	<div class="row">
	<div class="col-md-6"></div>
		<div class="col-md-6" align="right">
			<div class="btn-group">
				@if(currentPage.hasPrev){
				<a class="btn btn-primary" href="@routes.MessageController.message(currentPage.getPageIndex - 1, 0, 0, controllers.Application.getUser.userName)#receivedMessages">
					<span class='glyphicon glyphicon-chevron-left'>
					</span>Page precedente</a>
				}else{
				<a class="btn btn-primary" disabled="disabled"><span class='glyphicon glyphicon-chevron-left'>
				</span>Page precedente</a>
			}<a class="btn btn-primary" href="">@currentPage.getDisplayXtoYofZ(" - ", " / ")</a> @if(currentPage.hasNext){
			<a class="btn btn-primary" href="@routes.MessageController.message(currentPage.getPageIndex + 1, 0, 0, controllers.Application.getUser.userName)#receivedMessages">Page suivante<span class='glyphicon glyphicon-chevron-right'></span></a>
		}else{
		<a class="btn btn-primary" disabled="disabled">Page suivante<span class='glyphicon glyphicon-chevron-right'></span></a>
	}
			</div>
	</div>
</div>

</div>
