@(searchForm:Form[controllers.SearchController.Search]) 
@import helper._ 

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("Welcome to BEF - YOU ROCK", searchForm){ 

<h1>Saisir votre nom d'utilisateur pour récupérer le mot de pass</h1>

<form method="POST" action="@routes.Application.forgetPassword()">
	<div class='row rowpadding'>
		<div class="col-md-4"><h2>Nom d'utilisateur</h2></div>
		<div class="col-md-8">
			<input type="text" class="form-control" name="userName">
		</div>
	</div>
	<br>
	<div class='row rowpadding'>
		<div class="col-md-12">
			<input type="submit" class='btn btn-primary' value="Valider"/>
		</div>
	</div>
</form>
}


