@(app:models.Application)
<tr>
	<t>
		<span class="glyphicon glyphicon-flag" id="glyphicon"></span>
	</td>
	<td>
	<a  href="" data-toggle="modal" class="btn btn-success" data-target="#presentationModal">
  		<b>Presentation de l'application</b>
	</td>
	<td>Hannah</td>
	<td></td>
	<td></td>
	<td></td>


<!-- Modal -->
<div class="modal fade" id="presentationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">@app.appName</h4>
      </div>
      <div class="modal-body">
        @models.Application.presentApp(app.idApp)
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>
</tr>