@(zoneSearchForm:Form[controllers.SearchController.Search])
<div class="col-xs-6 col-md-5 ">
	<!-- Singin & Search Bar -->
	<br>
	<br>
	<div class="row col-md-12" style="padding-right:0">
		<!-- Signin -->
		<a href="@routes.MessageController.message()">Rappel
			<span class="badge">@Notification.notificationsUnread(controllers.Application.getSessionUser())</span>
		</a>
		<a href="@routes.MessageController.message()">Message
			<span class="badge">@Message.messagesUnread(controllers.Application.getSessionUser())</span>
		</a>

		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
				@User.findById(controllers.Application.getSessionUser()).firstName @User.findById(controllers.Application.getSessionUser()).lastName
				<span class="caret"></span>
			</button>
			<div class="dropdown-menu" style="padding: 10px; width:280px;">
				<!-- Hidden SignIn Form -->

				<div class="form-group row" style="padding-bottom:0px;">
					<div style="float:left;padding-left:20px">
						<img src="@routes.Assets.at("imgs/" + "users/" + User.findById(controllers.Application.getSessionUser()).userName + "/avatar/" + User.findById(controllers.Application.getSessionUser()).avatar)" alt="..." width='70' height='70'>
					</div>
					<div style="float:right;padding-right:20px;padding-top:10px;">
						<p>
							<b>Point: @User.findById(controllers.Application.getSessionUser()).exp</b>
						</p>
						<p>
							<b>Bonus: @User.findById(controllers.Application.getSessionUser()).bonus</b>
						</p>
						<p>
							<b>Profil: @User.findById(controllers.Application.getSessionUser()).title</b>
						</p>
					</div>
				</div>
				<div class="col-md-12 row">
					<a href="@routes.PersonController.person(User.findById(controllers.Application.getSessionUser()))" class="btn btn-primary" style="float:left;" width="50%">Mon Compte</a>
					
				</div>
			</div>
		</div>
		<a href="@routes.Application.logout()" class="btn btn-danger" style="float:right;" width="50%">Déconnecter</a>
	</div>
	
	@searchForm(zoneSearchForm)
</div>
<br><br>