@(person:User, searchForm:Form[controllers.SearchController.Search])

@import helper._
@import helper.twitterBootstrap._

@main("Modifier d'information d'utilisateur", searchForm) {

<h1>Modifier d'information d'utilisateur</h1>
<form method="POST" action="@routes.PersonController.savePerson(person)">

    <div class='row rowpadding'>
        <div class="col-md-4"><h4>Nom de famille</h4></div>
        <div class="col-md-8">
            <input type="text" value="@person.firstName" class="form-control" name="firstName">
        </div>
    </div>
    
    <div class='row rowpadding'>
        <div class="col-md-4"><h4>Prénom</h4></div>
        <div class="col-md-8">
            <input type="text" class="form-control" value="@person.lastName" name="lastName">
        </div>
    </div>
    
    <div class='row rowpadding'>
        <div class="col-md-4"><h4>Email</h4></div>
        <div class="col-md-8">
            <input type="text" value="@person.email" class="form-control" name="email">
        </div>
    </div>
    
    <div class='row rowpadding'>
        <div class="col-md-4"><h4>Adresse</h4></div>
        <div class="col-md-8">
            <input type="text" value="@person.address" class="form-control" name="address">
        </div>
    </div>
    
    <div class='row rowpadding'>
        <div class="col-md-4"><h4>Code Postal</h4></div>
        <div class="col-md-8">
            <input type="text" value="@person.postalCode" class="form-control" name="postalCode">
        </div>
    </div>
    
    <div class='row rowpadding'>
        <div class="col-md-4"><h4>Ville</h4></div>
        <div class="col-md-8">
            <input type="text" value="@person.city" class="form-control" name="city">
        </div>
    </div>
    
    <div class='row rowpadding'>
        <div class="col-md-4"><h4>Téléphone fixe</h4></div>
        <div class="col-md-8">
            <input type="text" value="@person.homePhone" class="form-control" name="homePhone">
        </div>
    </div>
    
    <div class='row rowpadding'>
        <div class="col-md-4"><h4>Téléphone Mobile</h4></div>
        <div class="col-md-8">
            <input type="text" value="@person.mobilePhone" class="form-control" name="mobilePhone">
        </div>
    </div>

    <div class='row rowpadding'>
        <div class="col-md-4"><h4>Présentation</h4></div>
        <div class="col-md-8">
            <div class="input" value="@person.presentation">
                <textarea value="@person.presentation" class="form-control" name="presentation" placeholder="@person.presentation" rows="5"></textarea>
            </div>
        </div>
    </div>
    
    <div class='row rowpadding'>
        <div class="col-md-4"><h4>Centre d'intérêt</h4></div>
        <div class="col-md-8">
            <input type="text" value="@person.hoppy" class="form-control" name="hoppy">
        </div>
    </div>


    <div class='row rowpadding'>
        <div class="col-md-4"><h4>Signature</h4></div>
        <div class="col-md-8">
            <input type="text" value="@person.signature" class="form-control" name="signature">
        </div>
    </div>

    <hr>
    <div class='row rowpadding' align="right">
        <div class="col-md-12">
            <input type="submit" class='btn btn-primary' value="Valider"/>
             <a href="@routes.PersonController.person(User.findById(controllers.Application.getSessionUser()))" class="btn btn-danger">Annuler</a> 
        </div>
    </div>
</form>


    
   


}